/**

	VARIABLE:
	- Color Palletes
	- Typography

 */
/**
=========================
	- Color Palletes
=========================
*/
/**
=========================
	- Typography
=========================
*/
html, body {
  scroll-behavior: smooth;
  font-family: "gesta", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-2 {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  font-family: "gesta", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 20px;
  height: 120px;
}

.header-2 .navbar {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 30px;
}

.header-2 .navbar .navbar-toggler {
  background-color: #97CB59;
}

.header-2 .btn-hero-edlink {
  background: #97CB59;
  padding: 0.7rem 1.2rem;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 4px;
  border-bottom: 2px solid #72A635;
  text-decoration: none;
  font-weight: 500;
}

.header-2 .btn-hero-edlink:hover {
  background: #80ad49;
}

.header-2 .navbar-nav {
  padding-right: 20px;
}

.header-2 .navbar-nav .nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.header-2 .navbar-nav .nav-item .nav-link {
  font-size: 1.1rem;
  font-family: "gesta", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #272530 !important;
  font-weight: 500;
}

.header-2 .navbar-nav .nav-item .nav-link i {
  color: #27B56E;
  font-size: 1.3rem;
}

#banner-single {
  text-align: center;
  background: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  color: #fff;
}

#banner-single h3 {
  font-family: "gesta", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#banner-single p {
  font-family: "gesta", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

#objective {
  font-family: "gesta", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 4rem;
}

#objective h4 {
  font-size: 1.5rem;
  color: #5C862B;
  font-weight: bold;
  margin-bottom: 0;
}

#objective h3 {
  font-size: 2rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 2rem;
}

#objective .list i {
  font-size: 1.7rem;
  color: #5C862B;
}

#objective .list p {
  font-size: 1.2rem;
  color: #606060;
}

#objective2 {
  font-family: "gesta", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 4rem;
}

#objective2 img {
  width: 100%;
  height: auto;
}

#objective2 h4 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #5C862B;
  font-weight: bold;
  margin-bottom: 0;
}

#objective2 h3 {
  font-size: 2rem;
  color: #000;
  font-weight: bold;
}

#objective2 p {
  font-size: 1.2rem;
  color: #606060;
  margin-bottom: 2rem;
}

#objective2 .list i {
  font-size: 1.7rem;
  color: #5C862B;
}

#objective2 .list p {
  font-size: 1.2rem;
  color: #606060;
}

#benefit {
  font-family: "gesta", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 4rem;
  background: #FAFFF3;
  border-top: 1px solid #97CB59;
  border-bottom: 1px solid #97CB59;
  padding-top: 4rem;
}

#benefit .title {
  margin-bottom: 3rem;
}

#benefit .title h4 {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: #5C862B;
  font-weight: bold;
  margin-bottom: 0;
}

#benefit .title h3 {
  font-size: 2rem;
  text-align: center;
  color: #000;
  font-weight: bold;
}

#benefit .card-benefit {
  margin-bottom: 2rem;
  font-family: "gesta", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#benefit .card-benefit i {
  font-size: 2.5rem;
  color: #5C862B;
}

#benefit .card-benefit h3 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  color: #5C862B;
}

#benefit .card-benefit p {
  color: #797979;
  font-size: 1.1rem;
}

#diagram {
  background: url(../img/bg-diagram.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  padding: 4rem 0;
}

#diagram img {
  width: 100%;
  height: auto;
}

#diagram .title {
  margin-bottom: 3rem;
}

#diagram .title h4 {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: #5C862B;
  font-weight: bold;
  margin-bottom: 0;
}

#diagram .title h3 {
  font-size: 2rem;
  text-align: center;
  color: #000;
  font-weight: bold;
}

#usecase {
  padding: 4rem 0;
}

#usecase .title {
  margin-bottom: 3rem;
}

#usecase .title h4 {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: #5C862B;
  font-weight: bold;
  margin-bottom: 0;
}

#usecase .title h3 {
  font-size: 2rem;
  text-align: center;
  color: #000;
  font-weight: bold;
}

#usecase .card-use {
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1.6rem;
}

#usecase .card-use img {
  width: 60px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#usecase .card-use h3 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "gesta", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#usecase .card-use ul {
  list-style: none;
  padding-left: 0;
}

#usecase .card-use ul li {
  margin-bottom: .5rem;
  font-size: 1.1rem;
  color: #6F6F6F;
}

#usecase .card-use ul li i {
  color: #5C862B;
  font-size: 1.5  rem;
}

#top-footer {
  position: relative;
  border-top: 1px solid #e5e5e5;
  padding: 1rem 0;
}

#top-footer .social {
  float: right;
}

#top-footer .social a {
  display: inline-block;
  color: #97CB58;
  font-size: 1.6rem;
}

@media only screen and (max-width: 990px) {
  header .hero h1 {
    font-size: 2.5rem;
  }
  header .hero p {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=main.css.map */