@media(max-width: 780px){

}
@media only screen and (min-device-width: 1920px) and (max-device-width: 2499px) {

}
@media (min-width: 992px) {

}

@media only screen and (max-width: 990px) {
    header {
        .hero{
            h1{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.3rem;
            }
        }
    }
    
    // .navbar-collapse{
    //     z-index: 999;
    //     background-color:#fff;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     height: 100%;
    //     width: 100%;
    //     padding: 40px 20px;
    //   }
  }
@media(max-width: 1000px){

}
@media (min-width: 480px) and (max-width: 1200px){

}