html,body{
    scroll-behavior: smooth;
    font-family: $font-default-family;
}

// HEADER 

.header-2 {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  font-family: $font-default-family;
  padding-top: 20px;
  height: 120px;
  .navbar {
      font-size: 1rem;
      font-weight: 400;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 30px;
      .navbar-toggler {
          background-color: #97CB59;
      }
  }
  .btn-hero-edlink{
      background: #97CB59;
      padding: 0.7rem 1.2rem;
      font-size: 1.1rem;
      color: #fff;
      border-radius: 4px;
      border-bottom: 2px solid #72A635;
      text-decoration: none;
      font-weight: 500;
      &:hover{
          background: rgb(128, 173, 73);
      }
  }
  .navbar-nav {
      padding-right: 20px;
      .nav-item {
          margin-left: 10px;
          margin-right: 10px;
          .nav-link {
              font-size: 1.1rem;
              font-family: $font-default-family;
              color: #272530 !important;
              font-weight: 500;
              i{
                  color: #27B56E;
                  font-size: 1.3rem;
              }
          }
      }
  }
}
// .indexcity {
//     z-index: 9999 !important;
//     margin-top: -100px !important;
//     transition: all 0.2s ease-in;
// }

// .right {
//     right: 0 !important;
//     left: 0 !important;
// }
#banner-single{
  text-align: center;
  background: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  color: #fff;
  h3{
    font-family: $font-default-family;
    font-weight: bold;
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  p{
    font-family: $font-default-family;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

// OBJEKTIF 

#objective{
  font-family: $font-default-family;
  padding-top: 4rem;
  h4{
    font-size: 1.5rem;
    color: #5C862B;
    font-weight: bold;
    margin-bottom: 0;
  }
  h3{
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .list{
    i{
      font-size: 1.7rem;
      color: #5C862B;
    }
    p{
      font-size: 1.2rem;
      color: #606060;
    }
  }
}

#objective2{
  font-family: $font-default-family;
  padding-top: 4rem;
  img{
    width: 100%;
    height: auto;
  }
  h4{
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #5C862B;
    font-weight: bold;
    margin-bottom: 0;
  }
  h3{
    font-size: 2rem;
    color: #000;
    font-weight: bold;
  }
  p{
    font-size: 1.2rem;
    color: #606060;
    margin-bottom: 2rem;
  }
  .list{
    i{
      font-size: 1.7rem;
      color: #5C862B;
    }
    p{
      font-size: 1.2rem;
      color: #606060;
    }
  }
}

#benefit{
  font-family: $font-default-family;
  padding-bottom: 4rem;
  background: #FAFFF3;
  border-top: 1px solid #97CB59;
  border-bottom: 1px solid #97CB59;
  padding-top: 4rem;
  .title{
    margin-bottom: 3rem;
    h4{
      margin-top: 2rem;
      text-align: center;
      font-size: 1.5rem;
      color: #5C862B;
      font-weight: bold;
      margin-bottom: 0;
    }
    h3{
      font-size: 2rem;
      text-align: center;
      color: #000;
      font-weight: bold;
    }
  }
  .card-benefit{
    margin-bottom: 2rem;
    font-family: $font-default-family;
    i{
      font-size: 2.5rem;
      color: #5C862B;
    }
    h3{
      text-align: left;
      font-size: 1.5rem;
      font-weight: bold;
      color: #5C862B;
    }
    p{
      color: #797979;
      font-size: 1.1rem;
    }
  }
}

#diagram{
  background: url(../img/bg-diagram.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  padding: 4rem 0;
  img{
    width: 100%;
    height: auto;
  }
  .title{
    margin-bottom: 3rem;
    h4{
      margin-top: 2rem;
      text-align: center;
      font-size: 1.5rem;
      color: #5C862B;
      font-weight: bold;
      margin-bottom: 0;
    }
    h3{
      font-size: 2rem;
      text-align: center;
      color: #000;
      font-weight: bold;
    }
  }
}

#usecase{
  padding: 4rem 0;
  .title{
    margin-bottom: 3rem;
    h4{
      margin-top: 2rem;
      text-align: center;
      font-size: 1.5rem;
      color: #5C862B;
      font-weight: bold;
      margin-bottom: 0;
    }
    h3{
      font-size: 2rem;
      text-align: center;
      color: #000;
      font-weight: bold;
    }
  }
  .card-use{
    background: #FFFFFF;
    border: 2px solid #E5E5E5;
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1.6rem;
    img{
      width: 60px;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    h3{
      font-size: 1.5rem;
      font-weight: bold;
      font-family: $font-default-family;
    }
    ul{
      list-style: none;
      padding-left: 0;
      li{
        margin-bottom: .5rem;
        font-size: 1.1rem;
        color: #6F6F6F;
        i{
          color: #5C862B;
          font-size: 1.5  rem;
        }
      }
    }
  }
}

#top-footer{
  position: relative;
  border-top: 1px solid #e5e5e5;
  padding: 1rem 0;
  .social{
    float: right;
    a{
      display: inline-block;
      color: #97CB58;
      font-size: 1.6rem;
    }
  }
}