/**

	VARIABLE:
	- Color Palletes
	- Typography

 */


 /**
=========================
	- Color Palletes
=========================
*/
$color-base:    #272530;
$color-brand:   #27B56E;
 /**
=========================
	- Typography
=========================
*/
$font-default-family:   "gesta","Helvetica Neue", Helvetica, Arial, sans-serif;
// $font-alternate-family: 'Lato', sans-serif;